<div class="access-mgmt">
    <app-sidebar></app-sidebar>
    <div class="access-content">
        <app-header></app-header>
        <div class="access-tabs-bar">
            <div class="tab" [class.active]="activeTab === 'users'" (click)="setTab('users')">Users</div>
            <div class="tab" [class.active]="activeTab === 'contact'" (click)="setTab('contact')">Contact Us</div>
            <div class="tab records">Records: {{ users.length }}</div>
        </div>
        <div *ngIf="activeTab === 'users'" class="access-main">
            <div class="access-card">
                <div class="access-card-header">
                    <input class="access-search" type="text" placeholder="Search user..." />
                    <button class="access-btn add">ADD USER</button>
                    <button class="access-btn edit">EDIT USER</button>
                    <button class="access-btn reset">RESET PASSWORD</button>
                </div>
                <div class="access-card-body">
                    <div class="access-table-header">
                        <div class="access-table-col">USERS</div>
                        <div class="access-table-col">ROLE</div>
                        <div class="access-table-col">BRANCH</div>
                        <div class="access-table-col">EMAIL</div>
                        <div class="access-table-col">LAST LOGIN</div>
                    </div>
                    <div *ngFor="let user of users" class="access-table-row">
                        <div class="access-table-col">{{ user.fullName }}</div>
                        <div class="access-table-col">{{ user.role }}</div>
                        <div class="access-table-col">{{ user.branchID ? user.branchID : '' }}</div>
                        <div class="access-table-col">{{ user.email }}</div>
                        <div class="access-table-col">{{ user.lastLogin ? (user.lastLogin | date:'dd/MM/yyyy HH:mm') :
                            '' }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="activeTab === 'contact'" class="access-contact-main">
            <app-contact-us></app-contact-us>
        </div>
    </div>
</div>